<!DOCTYPE html>
<html>
<head>
  <title>HelloApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<a href="google.com">go to google</a>
<%= link_to 'Say hello', hello_path(@hello) %>
  
<%= link_to 'Say goodbye', goodbye_path(@goodbye) %>

</body>
</html>
